<nav id="sidebar">
  <!-- Sidebar Scroll Container -->
  <div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Side Header -->
      <div class="content-header content-header-fullrow px-15">
        <!-- Mini Mode -->
        <div class="content-header-section sidebar-mini-visible-b">
          <!-- Logo -->
          <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
            <span class="text-dual-primary-dark">
              c
            </span>
            <span class="text-primary">
              b
            </span>
          </span>
          <!-- END Logo -->
        </div>
        <!-- END Mini Mode -->
        <!-- Normal Mode -->
        <div class="content-header-section text-center align-parent sidebar-mini-hidden">
          <!-- Close Sidebar, Visible only on mobile screens -->
          <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
          <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout"
            data-action="sidebar_close">
            <i class="fa fa-times text-danger"></i>
          </button>
          <!-- END Close Sidebar -->
          <!-- Logo -->
          <div class="content-header-item">
            <a class="link-effect font-w700" href="/">
              <i class="si si-people text-primary"></i>
              <span class="font-size-xl text-dual-primary-dark">
                eRegist
              </span>
              <span class="font-size-xl text-primary">
                System
              </span>
            </a>
          </div>
          <!-- END Logo -->
        </div>
        <!-- END Normal Mode -->
      </div>
      <!-- END Side Header -->
      <!-- Side User -->
      <div class="content-side content-side-full content-side-user px-10 align-parent">
        <!-- Visible only in mini mode -->
        <div class="sidebar-mini-visible-b align-v animated fadeIn">
          <img class="img-avatar img-avatar32" src="/images/avatars/avatar15.jpg" alt="" />
        </div>
        <!-- END Visible only in mini mode -->
        <!-- Visible only in normal mode -->
        <div class="sidebar-mini-hidden-b text-center">
          <a class="img-link" href="#">
            <img class="img-avatar" src="/images/avatars/avatar15.jpg" alt="" />
          </a>
          <ul class="list-inline mt-10">
            <li class="list-inline-item">
              <a class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase" href="#">
                {{req.user.detail.fullName}}
              </a>
            </li>
            <li class="list-inline-item">
              <a class="link-effect text-dual-primary-dark" href="/logout">
                <i class="si si-logout"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- END Visible only in normal mode -->
      </div>
      <!-- END Side User -->
      <!-- Side Navigation -->
      <div class="content-side content-side-full">
        <ul class="nav-main">
          <li>
            <a {{#ifEquals currentUrl '/dashboard'}} class="active" {{/ifEquals}} href="/dashboard">
              <i class="si si-cup"></i>
              <span class="sidebar-mini-hide">
                Dashboard
                {{res.path}}
              </span>
            </a>
          </li>
          <li>
            <a {{#ifEquals currentUrl '/request-draft'}} class="active" {{/ifEquals}} href="/request-draft">
              <i class="si si-menu"></i>
              <span class="sidebar-mini-hide">
                Permintaan Masuk
              </span>
            </a>
          </li>
          <li>
            <a {{#ifEquals currentUrl '/request-draft/rejected'}} class="active" {{/ifEquals}}
              href="/request-draft/rejected">
              <i class="si si-trash"></i>
              <span class="sidebar-mini-hide">
                Permintaan Ditolak
              </span>
            </a>
          </li>
          <li>
            <a {{#ifEquals currentUrl '/request-ktp'}} class="active" {{/ifEquals}} href="/request-ktp">
              <i class="si si-doc"></i>
              <span class="sidebar-mini-hide">
                KTP Request
              </span>
            </a>
          </li>
          <li>
            <a {{#ifEquals currentUrl '/request-kk'}} class="active" {{/ifEquals}} href="/request-kk">
              <i class="si si-docs"></i>
              <span class="sidebar-mini-hide">
                KK Request
              </span>
            </a>
          </li>
        </ul>
      </div>
      <!-- END Side Navigation -->
    </div>
    <!-- Sidebar Content -->
  </div>
  <!-- END Sidebar Scroll Container -->
</nav>